@model DisasterAlleviationFoundationWebApp.Entity.User

<div id="menu_container">
    <ul>
        
       
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="GoodDonation" data-text="Goods Donation">Goods Donation</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="FundsDonation" data-text="Funds Donation">Funds Donation</a></li>


        <li><a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="ViewDisasters" data-text="View Disaster">View Disaster</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="ViewGoodsDonations" data-text="View Goods Donations">View Goods Donations</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="ViewFundsDonations" data-text="View Funds Donations">View Funds Donations</a></li>
       
       <li><a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="CreateCategory" data-text="Add Category">Add Category</a></li>
       <li><a class="nav-link text-dark" asp-area="" asp-controller="Main" asp-action="CreateDisasters" data-text="Add Disaster">Add Disaster</a></li>

    </ul>
</div>
