@model DisasterAlleviationFoundationWebApp.Entity.User



<div id="login_container" >
    <h4 id="container_header"> Login</h4>
    <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
            <div>
                <label asp-for="Email" id="label"></label>
            <input asp-for="Email" id="text_field" type="email" required />
                <span asp-validation-for="Email" id="text_danger"></span>
            </div>
            <div >
                <label asp-for="Password" id="label"></label>
            <input asp-for="Password" id="text_field" type="password" required />
                <span asp-validation-for="Password" id="text_danger"></span>
            </div>
            <div>
                <input type="submit" value="Sign In" class="btn btn-primary" id="login_button" />
            </div>

        <div>
            <p>Don't have an account ? <a asp-action="SignUp">Register here</a></p>
        </div>
        </form>
  
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
